<!DOCTYPE html>
<html>
<head>
  <title>Dgitalhilsen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if params[:controller] == "messages" && params[:action] != "index"%>
  <%= link_to "Tilbage til oversigt", messages_path %>
<% end %>
<div id="flash_messages">
  <%= render 'shared/flash_messages' if !flash.empty? %>
</div>
<%= yield %>

<div class="log-out-button">
  <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
</div>
</body>
</html>
